<div class="footer-container classic-footer">
  <p>© 2025 Dravin Gupta</p>
  <div class="social-links">
    <a href="https://github.com/Dravingupta" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.linkedin.com/in/dravin-gupta-519b09313/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </div>
</div>
