.classic-footer {
    background-color: #000;
    color: #fff;
    padding: 20px 5%;
    width: 90%;
}


.footer-container {
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container p {
    margin: 0;
    font-size: 0.95rem;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #00bfff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.2s ease;
}

.social-links a:hover {
    color: #8bbccc;
}
